[Unit]
Description=AIROW Shiny App
After=network.target

[Service]
EnvironmentFile=/etc/systemd/system/shinyApp.env
Type=simple
Restart=always
RestartSec=1
User=
ExecStart=/bin/nohup /bin/R -e "AIROW.demo::run_app(options = list(port = 3752))"

[Install]
WantedBy=multi-user.target
